@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-red: #e30022;
    --color-black: #353839;
    --color-gray: #36454f;
    --color-cinnabar: #e44d2e;
    --font-*: initial;
    --font-serif: "Rosarivo", cursive, serif;
}

@font-face {
    font-family: "Rosarivo";
    src: url(/public/Rosarivo/Rosarivo-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Rosarivo";
    src: url(/public/Rosarivo/Rosarivo-Italic.ttf);
    font-style: italic;
}

:root {
    --intro-opacity: 0;
}

.splash-dummy {
    opacity: calc(1 - var(--intro-opacity));
}

.splash-picture {
    opacity: var(--intro-opacity);
}

svg.splash-fragment {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;

    &.siren,
    &.siren-front,
    &.flute,
    &.stone,
    &.flute-shadow,
    &.siren-arm {
        right: 0;
        bottom: 0;
        left: auto;
        top: auto;
    }
}
